<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/creatorstyle.css">
    <script src="../js/script_creator.js" defer></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="frontPage.html">
                <img src="../pictures/logo.jpg" alt="bilde av logo">
            </a>
        </div>
        <div class="knapper">
            <a href="DailyNutri.html"><h3>Daily Nutri</h3></a>
            <a href="meal_creator.html"><h3>Meal Creator</h3></a>
            <a href="meal_tracker.html"><h3>Meal Tracker</h3></a>
            <a href="activitytracker.html"><h3>Activity Tracker</h3></a>
            <a href="profil.html"><h3>Profil</h3></a>
        </div>
    </header>
    
    <main>
        <div class="creator">
            <div id="dash-container">
                <h2 id="dash">Meal Creator</h2>
                <button class="knapp">+</button>
            </div>
            <div class="liste">
                <table>
                    <thead>
                        <tr>
                            <th>Meal Name</th>
                            <th>Kcal per 100g</th>
                            <th>Protein per 100g</th>
                            <th>Fat per 100g</th>
                            <th>Fiber per 100g</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Gjenta denne tr for hver rett -->
                        <!-- Legg til flere retter her -->
                    </tbody>
                </table>
            </div>
        </div>
        
    </main>
</body>
</html>
