<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger Profil</title>
    <link rel="stylesheet" href="../css/profil.css">
</head>
<body>
    <div class="logo">
        <a href="frontPage.html">
            <img src="../pictures/logo.jpg" alt="bilde av logo">
        </a>
    </div>
    <div class="profile-container">
        <h2>Profile</h2>
        <form>
            <div class="input-group">
                <label for="ageBox">Age:</label>
                <input type="number" id="ageBox" name="age">
            </div>
            <div class="input-group">
                <label for="genderBox">Gender:</label>
                <input type="text" id="genderBox" name="gender">
            </div>
            <div class="input-group">
                <label for="weightBox">Weight (kg):</label>
                <input type="number" id="weightBox" name="weight">
            </div>
            
            <button id="update-button" type="button" onclick="saveChanges()">Save changes</button><br><br>
            <button id="logOut-button" type="button" onclick="logOut()">Sign out</button>
        </form>
        <button id="delete-button" type="button" onclick="deleteProfile()">Delete profile</button>
    </div>
    
    <script src="../js/script_editProfile.js"></script>
</body>

</html>