body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    height: 150px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #DEF6D8;
}

.logo {
    padding: 30px 30px 30px 50px;
}

.logo img {
    height: 75px;
    width: 210px;
}

.knapper {
    display: flex;
    gap: 80px;
    flex-grow: 1;
    justify-content: center;
}

.knapper a {
    text-decoration: none;
    color: #757575;
    font-size: 16px; /* Adjust font size here */
    font-weight: bold; /* Optional: makes the text bold */
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.center-image img {
    max-width: 90%; /* Adjust maximum width */
    height: auto;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-buttons button {
    padding: 15px 30px; /* Bigger padding for larger buttons */
    font-size: 16px; /* Larger font size */
    margin: 0 70px;
    cursor: pointer;
    background-color: #4CAF50; /* Using green color */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-buttons button:hover {
    background-color: #45a049;
}
